@import 'components/topbar';
@import 'components/toolbar';
@import 'components/formula';
@import 'components/table';

.excel {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  color: $excel-font-color;

  &__header {
    & > * {
      border-bottom: 1px solid $border-color;
    }
  }
}
