%cell {
  padding: 2px 4px;
  flex-shrink: 0;
  width: $cell-init-width;
  border-right: 1px solid $border-color;
  border-bottom: 1px solid $border-color;
}

%info {
  background-color: $cell-info-bg-color;
  text-align: center;
  user-select: none;
}

%resize {
  position: absolute;
  z-index: 100;
  opacity: 0;
  background-color: $selected-color;

  &:hover {
    opacity: 1;
  }
}

.table {
  height: 0;
  flex-grow: 1;
  overflow-x: auto;
  padding-bottom: 2px;
  font-size: 0.9rem;

  &__row,
  &__row-data {
    display: flex;
  }

  &__row-info {
    @extend %cell, %info;
    position: relative;
    flex-basis: $num-cell-width;
  }

  &__col-info {
    @extend %cell, %info;
    position: relative;
    text-align: center;
  }

  &__col-resize {
    @extend %resize;
    top: 0;
    right: -2px;
    bottom: 0;
    width: 4px;
    cursor: col-resize;

    &:active {
      bottom: -5000px;
      opacity: 0.6;
    }
  }

  .table__row:not(:first-child) &__row-resize {
    @extend %resize;
    bottom: -2px;
    right: 0;
    left: 0;
    height: 4px;
    cursor: row-resize;

    &:active {
      right: -5000px;
      opacity: 0.6;
    }
  }

  &__cell {
    @extend %cell;
    color: #000;
    border-color: rgba($border-color, 0.5);

    &--selected {
      outline: 3px solid $selected-color;
    }
  }
}
