{
  "env": {
    "jest": true,
    "es6": true,
    "browser": true,
    "node": true
  },
  "extends": ["standard", "plugin:prettier/recommended"],
  "rules": {
    "prettier/prettier": "error"
  }
}
