<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
    <title>Pure JS Excel Application</title>
  </head>
  <body>
    <div id="app">
      <div class="dashboard">
        <header class="dashboard__header">
          <h1 class="dashboard__title">Excel Dashboard</h1>
          <div class="dashboard__toolbar">
            <a class="dashboard-btn" href="#"
              ><span class="dashboard-btn__content">+</span></a
            >
          </div>
        </header>
        <main class="dashboard__db">
          <table class="db">
            <tr class="db__header">
              <th>Название таблицы</th>
              <th>Дата открытия</th>
            </tr>
            <tr class="db__row">
              <td>
                Таблица 1
              </td>
              <td>
                10.10.1994
              </td>
            </tr>
            <tr class="db__row">
              <td>
                Таблица 2
              </td>
              <td>
                11.11.2020
              </td>
            </tr>
          </table>
        </main>
      </div>
    </div>
  </body>
</html>
