.button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 3px;
  text-align: center;
  border: none;
  border-radius: 2px;
  background-color: transparent;
  cursor: pointer;
  color: #333;

  & > * {
    font-size: 18px;
  }

  &:hover {
    background-color: rgba(#000, 0.1);
  }

  &--active {
    color: $primary-color;
  }
}
