@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: normal;
  src: url('/assets/fonts/roboto-regular-webfont.woff2') format('woff2'),
    url('/assets/fonts/roboto-regular-webfont.woff') format('woff');
}
