// colors
$primary-color: #188038;
$selected-color: #1a73e8;
$excel-font-color: #888;
$border-color: #c0c0c0;
$cell-info-bg-color: #eee;

// sizes
$num-cell-width: 60px;
$cell-init-width: 150px;
